[include]
	path = ./.config/lazygit/catppuccin.gitconfig


[core]
    pager = delta


[delta]
    navigate = true    # use n and N to move between diff sections
    features = catppuccin-mocha
    syntax-theme = Catppuccin Mocha # Use bat theme


[merge]
    conflictstyle = diff3
